@import './core/core.scss';





* {
  font-family: "Roboto", sans-serif;
}






.fa-check {
  color: white;
  float: right;
  padding-right: 10px;
  font-size: 28px;
}

.background-container {
  height:100vw;
}

#backButton,
#nextButton {
  width: 40%;
  margin: 0 auto;
  display: inline;
}





p {
  font-size: 22px;
}

select {
  width: 100%;
  display: block;
}

.title {
  margin-bottom: 34px;
  color: $title-font-color;
  font-size: 42px;
  line-height: 1;
}

.sub-title {
  margin-top: 50px;
  margin-bottom: 21px;
  text-align: justify;
  font-weight: bold;
  font-size: 26px;
  line-height: 1;
}

.sub-header {
  font-size: 32px;
  color: $sub-header-font-color;
}