h1 {
  font-weight: bold;
  font-size: 24px;
}

h2 {
  font-weight: bold;
  font-size: 18px;
  display: inline;
}

p {
  display: inline;
  font-size: 18px;
  vertical-align: sub;
}

input {
  margin-top: 12px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 12px;
}

.box {
  border-radius: 1px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.table {
  width: 100%;
}

.table.is-striped tbody tr:not(.is-selected):nth-child(even) {
  background-color: #eaeaea;
}

#exportButton {
  background-color: #635d9b;
  color: white;
  border-radius: 2px;
  float: right;
  padding: 8px 16px 8px 16px;
  font-weight: 500;
  border: none;
  margin-bottom: 24px;
  cursor: pointer;
}