/* You can add global styles to this file, and also import other style files */

@import '~bulma/css/bulma.css';
@import './assets/styles/variables';
@import '~font-awesome/css/font-awesome.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
input,
select,
button,
body,
html,
textarea,
h1-h6,
p {
  font-family: "Roboto", sans-serif;
}

button {
  display: block;
  font-size: 1em;
  border: 1px solid gray;
  background: white;
  &:focus {
    border: none;
  }
}

.fa-check {
  color: white;
  float: right;
  padding-right: 10px;
  font-size: 28px;
}

.background-container {
  height:100vw;
}

#backButton,
#nextButton {
  width: 40%;
  margin: 0 auto;
  display: inline;
}

mat-checkbox {
  .mat-checkbox-layout .mat-checkbox-label {
    line-height: 1.5;
    padding-left: 45px;
  }
  .mat-checkbox-inner-container {
    height: 50px;
    width: 50px;
  }
  .mat-checkbox-frame {
    border-radius:50%;
    border-width: 6px;    
    border-color: $primary-green;
  }
  
  .mat-checkbox-label {
    font-size:24px;
    line-height: 1.5;
    letter-spacing: -0.1px;
  }
  .mat-checkbox-layout {
    white-space: normal;
  }

  &.mat-checkbox-checked {

    .mat-checkbox-background {
      background-color: $primary-green !important;
    }
  }
}



p {
  font-size: 22px;
}

select {
  width: 100%;
  display: block;
}

.title {
  margin-bottom: 34px;
  color: $title-font-color;
  font-size: 42px;
  line-height: 1;
}

.sub-title {
  margin-top: 50px;
  margin-bottom: 21px;
  text-align: justify;
  font-weight: bold;
  font-size: 26px;
  line-height: 1;
}

.sub-header {
  font-size: 32px;
  color: $sub-header-font-color;
}