h1 {
  font-weight: 500;
  font-size: 34px;
  text-align: center;
}

.offset {
  margin-left: 40px;
}

.background-container {
  background-color: #dfe3e8;
}

#search-field {
  margin: 0 auto;
}

#search-input {

}

#search-button {
  background-color: #675f9e;
  border: none;
  padding: 6px 8px 6px 8px;
}