@import '../../../assets/styles/core/variables.scss';
button {
  display: block;
  width: 100%;
}

.title {
  margin-bottom: 48px;
  text-align: center;
  font-weight: bold;
  font-size: 34px;
  text-align: center;
  line-height: 1;
}

.options {
  text-align: justify;
  font-size: 24px;
  padding: 24px;
  font-weight: 500;
  &:hover {
    cursor: pointer;
  }
  &.active {
    background-color: $primary-green;
    color: white;
  }
}

#next {
  margin-top: 60px;
  color: white;
  padding: 12px;
  background-color: $secondary-purple;
  text-align: center;
}
