<div class="container">
  <div class="columns">
    <div class="column is-3"></div>
    <div class="column is-6">
      <h1 class="title">Welcome! What would you like to do today?</h1>
      <button class="options" [ngClass]="{'active': oneSelected}" 
      (click)="toggleSelectionOne()" style="border-bottom: none;">
      Become A Member<i class="fa fa-check" aria-hidden="true"></i></button>
      <button class="options" [ngClass]="{'active': twoSelected}" 
      (click)="toggleSelectionTwo()" style="border-bottom: none;">
      Renew My Membership<i class="fa fa-check" aria-hidden="true"></i></button>
      <button class="options" [ngClass]="{'active': threeSelected}" 
      (click)="toggleSelectionThree()">
      Update my contact information<i class="fa fa-check" aria-hidden="true"></i></button>  
      
      <div *ngIf="showRouteError">
        <h3>Please select one of the above options</h3>
      </div>
      
      <div class="columns">
          <div class="column is-two-fifth">
  
          </div>
          <div class="column is-one-fifth">
            <button id="next" (click)="routeToTask()">Next></button>
            
          </div>
          <div class="column is-two-fifth">
  
          </div>
        </div>
    </div>
    <div class="column is-3"></div>
  </div>
</div>
