<div class="columns">
  <div class="column is-1"></div>
  <div class="column is-10">

    <form [formGroup]="loginForm">

      <div>
        <h1 class="title">Login</h1>
        
        <input class="email input" formControlName="email" value="" placeholder="example@email.com" />
        <input type="password" formControlName="password" class="password input" placeholder="Password" />

        <p *ngIf="errorText != null">{{errorText}}</p>
        <div class="column is-6 is-offset-3">
          <button type="button" id="loginBtn
          " (click)="login()" class="button">Login</button>  
          <button type="button" id="resetPasswordBtn" (click)="resetPassword()" class="button">Forgot Username or Password</button>                    
        </div>

      </div>
    </form>
  </div>
  <div class="column is-1"></div>
</div>
