<div class="columns">
  <div class="column is-one-quarter"></div>
  <div class="column">

    <form [formGroup]="memberForm">

      <div *ngIf="currentStep === 0">
        <h1 class="title">Would you like to sign up as an individual or as a household?</h1>
        <button class="options" [ngClass]="{'active': individualSelected}" (click)="toggleIndividualSelection()">I would like to sign up as an individual</button>
        <button class="options" [ngClass]="{'active': !individualSelected}" (click)="toggleIndividualSelection()">I would like to sign up my household</button>

        <div class="columns">
          <div class="column is-two-fifth"></div>
          <div class="column is-one-fifth">
            <button id="backButton" (click)="routeToWelcome()">Back</button>                        
            <button id="nextButton" (click)="currentStep = currentStep + 1">Next></button>
          </div>
          <div class="column is-two-fifth"></div>
        </div>
      </div>

      <div *ngIf="currentStep === 1">
        <h1 class="title">Tell us more about yourself</h1>
        <h2 class="sub-title">Name</h2>
        <input class="input" formControlName="firstName" value="memberForm.controls.firstName" placeholder="First Name" />
        <input class="input" formControlName="lastName" value="memberForm.controls.lastName" placeholder="Last Name" />

        <h2 class="sub-title">Birthday</h2>
        <p>Datepicker here...</p>

        <div class="columns">
          <div class="column is-two-fifth"></div>
          <div class="column is-one-fifth">
            <button id="backButton" (click)="currentStep = currentStep - 1">Back</button>
            <button id="nextButton" (click)="currentStep = currentStep + 1">Next></button>
          </div>
          <div class="column is-two-fifth"></div>
        </div>

      </div>

      <!--
      <div *ngIf="currentStep === 2">
          <h1>What kinds of programs and services are you interested in?</h1>
          <p>Select as many as you'd like</p>

          
          <button id="backButton" (click)="currentStep = currentStep - 1">Back</button>                
          <button id="nextButton" (click)="currentStep = currentStep + 1">Next></button>
        </div>
      -->
      <div *ngIf="currentStep === 2">
        <h1 class="title">Do you have a mailing address?</h1>
        <p class="sub-title">We would like this information so we can send you a membership card.</p>
        <button class="options" [ngClass]="{'active': mailAddressSelected}" (click)="toggleMailSelection()">Yes, I have a mailing address</button>
        <button class="options" [ngClass]="{'active': !mailAddressSelected}" (click)="toggleMailSelection()">No, I don’t have a mailing address</button>

        <div *ngIf="mailAddressSelected">
          <h2 class="sub-title">This is my..</h2>
          <button class="options" [ngClass]="{'active': homeAddress}" (click)="toggleAddressSelection()">Home address</button>
          <button class="options" [ngClass]="{'active': !homeAddress}" (click)="toggleAddressSelection()">Work address</button>
        </div>


        <h2 class="sub-title">Address Details</h2>
        <input class="input" formControlName="streetAddress" value="memberForm.controls.streetAddress" placeholder="Street" />
        <input class="input" formControlName="city" value="memberForm.controls.city" placeholder="City/Town" />
        <div class="select">
          <select formControlName="province" value="memberForm.controls.province">
            <option>ON</option>
            <option>AB</option>
            <option>BC</option>
            <option>MB</option>
            <option>NB</option>
            <option>NL</option>
            <option>NS</option>
            <option>NT</option>
            <option>NU</option>
            <option>PE</option>
            <option>QC</option>
            <option>SK</option>
            <option>YT</option>            
          </select>
        </div>
        <div class="select">
          <select formControlName="country">
            <option>Canada</option>
          </select>
        </div>
        <input class="input" formControlName="postalcode" 
                             value="memberForm.controls.postalcode" 
                             placeholder="Postal Code/Zip"/>

        <div class="columns">
            <div class="column is-one-fifth"></div>
            <div class="column is-three-fifth">
              <button id="backButton" (click)="currentStep = currentStep - 1">Back</button>
              <button id="nextButton" (click)="currentStep = currentStep + 1">Next></button>
            </div>
            <div class="column is-one-fifth"></div>
          </div>
      </div>

      <div *ngIf="currentStep === 3">
        <h1>We’d like to stay in touch! Please share your contact information.</h1>
        <input class="input" formControlName="email" 
                             value="memberForm.controls.email" 
                             placeholder="Email address"/>
        <input class="input" formControlName="preferredPhone" 
                             value="memberForm.controls.preferredPhone"
                             placeholder="Preferred Phone Number"/>
        <br>
        <label class="checkbox">
          <input type="checkbox">
          I give The 519 permission to contact me by via mailing address, email, and preferred 
          phone number about program and service information as well as donating opportunities.
        </label>
        <label class="checkbox">
          <input type="checkbox">
          I would like to opt in for The 519 newsletter.
        </label>
        <br>
        <div class="columns">
            <div class="column is-two-fifth"></div>
            <div class="column is-one-fifth">
              <button id="backButton" (click)="currentStep = currentStep - 1">Back</button>
              <button id="nextButton" (click)="currentStep = currentStep + 1">Next></button>
            </div>
            <div class="column is-two-fifth"></div>
          </div>
      </div>

      <div *ngIf="currentStep === 4">
        <h1>Please create a password so you can access your membership online.</h1>
        <p>Password should be 8-12 characters and include letters and numbers.</p>
        <input class="input" placeholder="Password" />
        <input class="input" placeholder="Retype Password" />

        <div class="columns">
            <div class="column is-two-fifth"></div>
            <div class="column is-one-fifth">
              <button id="backButton" (click)="currentStep = currentStep - 1">Back</button>
              <button id="nextButton" (click)="currentStep = currentStep + 1">Next></button>
            </div>
            <div class="column is-two-fifth"></div>
          </div>
      </div>

      <div *ngIf="currentStep === 5">
        <h1>What does the 519 mean to you?</h1>
<textarea class="textarea" formControlName="membershipDetails" 
                           value="memberForm.controls.membershipDetails"
                           placeholder="Tell us anything you like"></textarea>

        <div class="columns">
            <div class="column is-two-fifth"></div>
            <div class="column is-one-fifth">
              <button id="backButton" (click)="currentStep = currentStep - 1">Back</button>                          
              <button id="nextButton" (click)="submitMemberForm()">Next></button>
            </div>
            <div class="column is-two-fifth"></div>
          </div>
      </div>
      <confirmation *ngIf="currentStep === 6" [member]="member"></confirmation>      
    </form>
  </div>
  <div class="column is-one-quarter"></div>
</div>
