<div class="columns">
  <div class="column is-one-quarter"></div>
  <div class="column is-one-half">

    <form [formGroup]="memberForm">

      <div *ngIf="currentStep === 0">
        <h1>Would you like to sign up as an individual or as a household?</h1>
        <button [ngClass]="{'button is-success is-active': individualSelected}" 
        (click)="toggleIndividualSelection()">I would like to sign up as an individual</button>
        <button [ngClass]="{'button is-success is-active': !individualSelected}" 
        (click)="toggleIndividualSelection()">I would like to sign up my household</button>

        <button id="nextButton" (click)="currentStep = currentStep + 1">Next></button>
      </div>

      <div *ngIf="currentStep === 1">
        <h1>Tell us more about yourself</h1>
        <input class="input" formControlName="firstName" value="memberForm.controls.firstName" placeholder="First Name"/>
        <input class="input" formControlName="lastName"  value="memberForm.controls.lastName" placeholder="Last Name"/>
  
        <h2>Birthday</h2>
        <p>Datepicker here...</p>

        <button id="backButton" (click)="currentStep = currentStep - 1">Back</button>                
        <button id="nextButton" (click)="currentStep = currentStep + 1">Next></button>
      </div>

      <!--
      <div *ngIf="currentStep === 2">
          <h1>What kinds of programs and services are you interested in?</h1>
          <p>Select as many as you'd like</p>

          
          <button id="backButton" (click)="currentStep = currentStep - 1">Back</button>                
          <button id="nextButton" (click)="currentStep = currentStep + 1">Next></button>
        </div>
      -->
      <div *ngIf="currentStep === 2">
        <h1>Do you have a mailing address?</h1>
        <p>We would like this information so we can send you a membership card.</p>
        <button [ngClass]="{'button is-success is-active': mailAddressSelected}" 
        (click)="toggleMailSelection()">Yes, I have a mailing address</button>
        <button [ngClass]="{'button is-success is-active': !mailAddressSelected}" 
        (click)="toggleMailSelection()">No, I don’t have a mailing address</button>
  
        <div *ngIf="mailAddressSelected">
          <button [ngClass]="{'button is-success is-active': homeAddress}" 
          (click)="toggleAddressSelection()">home address</button>
          <button [ngClass]="{'button is-success is-active': !homeAddress}" 
          (click)="toggleAddressSelection()">work address</button>    
        </div>
        <h2>This is my..</h2>
  
  
        <h2>Address Details</h2>
        <input class="input" formControlName="streetAddress" 
                             value="memberForm.controls.streetAddress"
                             placeholder="Street"/>
        <input class="input" formControlName="city" 
                             value="memberForm.controls.city"
                             placeholder="City/Town"/>
        <div class="select">
          <select formControlName="province" value="memberForm.controls.province">
            <option>ON</option>
            <option>AB</option>
            <option>BC</option>
            <option>MB</option>
            <option>NB</option>
            <option>NL</option>
            <option>NS</option>
            <option>NT</option>
            <option>NU</option>
            <option>PE</option>
            <option>QC</option>
            <option>SK</option>
            <option>YT</option>            
          </select>     
        </div>
        <div class="select">
          <select formControlName="country">
            <option>Canada</option>
          </select>     
        </div>
        <input class="input" formControlName="postalcode" placeholder="Postal Code/Zip"/>

        <button id="backButton" (click)="currentStep = currentStep - 1">Back</button>        
        <button id="nextButton" (click)="currentStep = currentStep + 1">Next></button>
      </div>
  
      <div *ngIf="currentStep === 3">
        <h1>We’d like to stay in touch! Please share your contact information.</h1>
        <input class="input" formControlName="email" placeholder="Email address"/>
        <input class="input" formControlName="preferredPhone" placeholder="Preferred Phone Number"/>
  
        <br>
        <label class="checkbox">
          <input type="checkbox">
          I give The 519 permission to contact me by via mailing address, email, and preferred 
          phone number about program and service information as well as donating opportunities.
        </label>
        <label class="checkbox">
          <input type="checkbox">
          I would like to opt in for The 519 newsletter.
        </label>
        <br>
        <button id="backButton" (click)="currentStep = currentStep - 1">Back</button>        
        <button id="nextButton" (click)="currentStep = currentStep + 1">Next></button>
      </div>

      <div *ngIf="currentStep === 4">
        <h1>Please create a password so you can access your membership online.</h1>
        <p>Password should be 8-12 characters and include letters and numbers.</p>
        <input class="input" formControlName="password" placeholder="Password"/>
        <input class="input" formControlName="password" placeholder="Retype Password"/>
  
        <button id="backButton" (click)="currentStep = currentStep - 1">Back</button>        
        <button id="nextButton" (click)="currentStep = currentStep + 1">Next></button>
      </div>
  
      <div *ngIf="currentStep === 5">
        <h1>What does the 519 mean to you?</h1>
        <textarea class="textarea" formControlName="membershipDetails" 
                  placeholder="Tell us anything you like"></textarea>
        
        <button id="backButton" (click)="currentStep = currentStep - 1">Back</button>                          
        <button id="nextButton" (click)="submitMemberForm()">Next></button>
      </div>

    </form>

  </div>
  <div class="column is-one-quarter"></div>
</div>
