<div class="container">
  <h1 class="prompt">Please confirm your membership details below</h1>
  <h2>Name</h2>
  <input class="input" formControlName="firstName" value="memberForm.controls.firstName" placeholder="First Name"/>
  <input class="input" formControlName="lastName"  value="memberForm.controls.lastName" placeholder="Last Name"/>
  <h2>Birthday</h2>

  <!-- <h2>Programs or services of interest</h2> -->
  <h2>Individual or Household</h2>
  <div class="select">
    <select formControlName="status">
      <option>Individual</option>
      <option>Household</option>
    </select>     
  </div>
  

  
</div>