<div class="container">

  <h1 class="prompt">Please confirm your membership details below</h1>


  <!-- NAME CONFIRMATION -->

  <h2 class="sub-title">Name</h2>
  <input class="input" value="member.firstName" placeholder="First Name" />
  <input class="input" value="member.lastName" placeholder="Last Name" />


  <!-- BIRTHDAY CONFIRMATION -->

  <h2 class="sub-title">bithday</h2>
  <input type="text" class="input" value="member.birthdate">


  <!-- PROGRAMS CONFIRMATION -->

  <h2 class="sub-title">Programs or Services of Interest</h2>
  <textarea name="" cols="30" rows="10" class="textarea"></textarea>


  <!-- INDIVIDUAL OR HOUSEHOLD CONFIRMATION -->

  <h2 class="sub-title">Individual or Household?</h2>

  <div class="control is-fullwidth">
    <select class="select" value="member.status">
      <option value="individual">Individual</option>
      <option value="household">Household/option>
    </select>
  </div>


  <!-- <h2>Programs or services of interest</h2> -->
  <h2>Individual or Household</h2>
  <div class="select">
    <select>
      <option>Individual</option>
      <option>Household</option>
    </select>
  </div>



</div>
