@import '../../../assets/styles/variables.scss';

.hidden {
  display: none;
}
input.ng-invalid, select.ng-invalid {
  &.ng-dirty, &.ng-touched {
    border-color: #ff3860;
  }
}

button {
  display: block;
  width: 100%;
}

h3 {
  font-size: 20px;
}
  
.input, .select {
  font-size: 32px;
  margin-bottom: 20px;
}

.options {
  text-align: justify;
  font-size: 24px;
  padding: 24px;
  font-weight: 500;
  &:hover {
    cursor: pointer;
  }
  &.active {
    background-color: $primary-green;
    color: white;
  }
}

.input {
  font-size: 32px;
  margin-bottom: 20px;
  border-color: #979797;
}
select {
  border-color: #979797;
}

mat-checkbox {
  font-family: Roboto;
  height:40px;
  font-size: 32px;
  line-height:1.25;
  letter-spacing: -0.1px;
  
}

.centering {
  align-content: center;
}

#nextButton {
  margin-top: 60px;
  color: white;
  padding: 12px;
  background-color: $secondary-purple;
  text-align: center;
}

  #backButton {
    margin-top: 60px;
    color: $secondary-purple;
    padding: 12px;
    border-color: $secondary-purple;
    background-color: white;
    text-align: center;
  }

  #donateButton {
    background: #635d9b;
    color: white;
    font-size: 26px;
    font-weight: 500;    
    padding: 10px;
  }

  /* datepicker custom styles */

  .mat-calendar-body-selected {
    background-color: $primary-green !important;
    border-color: $secondary-purple !important;
  }
