<div class="columns">
  <div class="column is-one-quarter"></div>
  <div class="column">

    <form [formGroup]="memberForm">

      <div [class.hidden]="!(currentStep === 0)">
        <h1 class="title">Would you like to sign up as an individual or as a household?</h1>
        <button type="button" class="options" [ngClass]="{'active': individualSelected}" style="border-bottom: none;" (click)="toggleIndividualSelection()">I would like to sign up as an individual
          <i class="fa fa-check" aria-hidden="true"></i>
        </button>
        <button type="button" class="options" [ngClass]="{'active': !individualSelected}" (click)="toggleIndividualSelection()">I would like to sign up my household
          <i class="fa fa-check" aria-hidden="true"></i>
        </button>
        <div class="columns">
          <div class="column is-two-fifth"></div>
          <div class="column is-one-fifth">
            <button type="button" id="backButton" (click)="routeToWelcome()">Back</button>
            <button type="button" id="nextButton" (click)="currentStep = currentStep + 1">Next></button>
          </div>
          <div class="column is-two-fifth"></div>
        </div>
      </div>

      <div [class.hidden]="!(currentStep === 1)">
        <h1 class="title">Tell us more about yourself.</h1>
        <h2 class="sub-title">Name</h2>
        <input class="input" formControlName="firstName" value="memberForm.controls.firstName" placeholder="First Name" />
        <input class="input" formControlName="lastName" value="memberForm.controls.lastName" placeholder="Last Name" />

        <h2 class="sub-title">Birthday</h2>
        <mat-form-field class="column is-full">
          <input formControlName="birthDate"  matInput [matDatepicker]="picker" placeholder="Choose a date" (focus)="picker.open()" (blur)="picker.close()">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div class="columns">
          <div class="column is-two-fifth"></div>
          <div class="column is-two-fifth">
            <button type="button" id="backButton" (click)="currentStep = currentStep - 1">Back</button>
            <button type="button" id="nextButton" (click)="currentStep = currentStep + 1">Next></button>
          </div>
          <div class="column is-two-fifth"></div>
        </div>

      </div>


      <div [class.hidden]="!(currentStep === 2)">
        <h1 class="title">What kinds of programs and services are you interested in?</h1>
        <p class="sub-header">Select as many as you like.</p>
        <br>



        <div class="control" *ngFor="let p of programs">
          <div class="column is-2"></div>
          <mat-checkbox (change)="onCheckboxChanged(p, $event.checked)" class="column is-8">{{ p.name }}</mat-checkbox>
          <div class="column is-2"></div>
        </div>


        <div class="columns">
          <div class="column is-two-fifth"></div>
          <div class="column is-one-fifth">
            <button type="button" id="backButton" (click)="currentStep = currentStep - 1">Back</button>
            <button type="button" id="nextButton" (click)="currentStep = currentStep + 1">Next></button>
          </div>
          <div class="column is-two-fifth"></div>
        </div>
      </div>

      <div [class.hidden]="!(currentStep === 3)">
        <h1 class="title">Do you have a mailing address?</h1>
        <p>We would like this information so we can send you a membership card.</p>
        <br>
        <button type="button" class="options" [ngClass]="{'active': mailAddressSelected}" (click)="toggleMailSelection()">Yes, I have a mailing address
          <i class="fa fa-check" aria-hidden="true"></i>
        </button>
        <button type="button" class="options" [ngClass]="{'active': !mailAddressSelected}" (click)="toggleMailSelection()">No, I don’t have a mailing address
          <i class="fa fa-check" aria-hidden="true"></i>
        </button>

        <div *ngIf="mailAddressSelected">
          <h2 class="sub-title">This is my..</h2>
          <button type="button" class="options" [ngClass]="{'active': homeAddress}" (click)="toggleAddressSelection()">Home address
            <i class="fa fa-check" aria-hidden="true"></i>
          </button>
          <button type="button" class="options" [ngClass]="{'active': !homeAddress}" (click)="toggleAddressSelection()">Work address
            <i class="fa fa-check" aria-hidden="true"></i>
          </button>
        </div>


        <h2 class="sub-title">Address Details</h2>

        <div class="columns">
          <div class="control column is-fullwidth">
            <input #autocomplete id="autocomplete" class="input" formControlName="streetAddress" value="memberForm.controls.streetAddress"
              placeholder="Street" />
          </div>
        </div>

        <div class="columns">

          <div class="control column is-one-half">
            <input type="text" class="input" placeholder="Apt Number" formControlName="aptNumber">
          </div>


          <div class="control column is-one-half">
            <input type="text" class="input" placeholder="Street Number" formControlName="streetNumber">
          </div>
        </div>

        <div class="columns">
          <div class="control column is-fullwidth">
            <input class="input" formControlName="city" value="memberForm.controls.city" placeholder="City/Town" />
          </div>
        </div>
        <div class="columns">
          <div class="control column">
            <div class="select is-fullwidth">
              <select formControlName="province" value="memberForm.controls.province" placeholder="Select Province...">
                <option value="-1">Select a province...</option>
                <option value="ON">Ontario</option>
                <option value="AB">Alberta</option>
                <option value="BC">British Columbia</option>
                <option value="MB">Manitoba</option>
                <option value="NB">New Brunswick</option>
                <option value="NL">Newfoundland</option>
                <option value="NS">Nova Scotia</option>
                <option value="NT">Northwest Territories</option>
                <option value="NU">Nunuvat</option>
                <option value="PE">Prince Edward Island</option>
                <option value="QC">Quebec</option>
                <option value="SK">Saskatchewan</option>
                <option value="YT">Yukon Territories</option>
              </select>
            </div>
          </div>
        </div>



        <div class="columns">
          <div class="control column">
            <div class="select is-fullwidth">
              <select formControlName="country" placeholder="">
                <option value="-1">Select Country...</option>
                <option value="CA">Canada</option>
              </select>
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="control column is-fullwidth">
            <input class="input" formControlName="postalcode" value="memberForm.controls.postalcode" placeholder="Postal Code/Zip" />
          </div>
        </div>
        <div class="columns">
          <div class="column is-two-fifth"></div>
          <div class="column is-one-fifth">
            <button type="button" id="backButton" (click)="currentStep = currentStep - 1">Back</button>
            <button type="button" id="nextButton" (click)="currentStep = currentStep + 1">Next></button>
          </div>
          <div class="column is-two-fifth"></div>
        </div>
      </div>

      <div [class.hidden]="!(currentStep === 4)">
        <h1 class="title">We’d like to stay in touch! Please share your contact information.</h1>
        <input *ngIf="mailAddressSelected" class="input" formControlName="email" value="memberForm.controls.email"
          placeholder="Email address" />
        <input class="input" formControlName="preferredPhone" value="memberForm.controls.preferredPhone" placeholder="Preferred Phone Number"
        />
        <br>
        <div class="column is-12">
          <mat-checkbox (change)="setPermissionSoliticing($event)">
            I give The 519 permission to contact me by via mailing address,
            <span *ngIf="mailAddressSelected">email,</span> and preferred phone number about program and service information as well as donating opportunities.
          </mat-checkbox>
        </div>
        <div class="column is-12">
          <mat-checkbox (change)="setPermissionNewsletter($event)">
            I would like to opt in for The 519 newsletter.
          </mat-checkbox>
        </div>
        <br>
        <div class="columns">
          <div class="column is-two-fifth"></div>
          <div class="column is-one-fifth">
            <button type="button" id="backButton" (click)="currentStep = currentStep - 1">Back</button>
            <button type="button" id="nextButton" (click)="currentStep = currentStep + 1">Next></button>
          </div>
          <div class="column is-two-fifth"></div>
        </div>
      </div>
      <div [class.hidden]="!(currentStep === 5)">
        <h1 class="title">Please create a password so you can access your membership online.</h1>
        <p>Password should be 8-12 characters and include letters and numbers.</p>
        <input type="password" formControlName="password" class="password input" placeholder="Password" />
        <input type="password" class="password input" formControlName="confirmPassword" placeholder="Retype Password" />

        <div class="columns">
          <div class="column is-two-fifth"></div>
          <div class="column is-one-fifth">
            <button type="button" id="backButton" (click)="currentStep = currentStep - 1">Back</button>
            <button type="button" id="nextButton" (click)="currentStep = currentStep + 1">Next></button>
          </div>
          <div class="column is-two-fifth"></div>
        </div>
      </div>

      <div [class.hidden]="!(currentStep === 6)">
        <h1 class="title">What does the 519 mean to you?</h1>
        <textarea class="textarea" formControlName="testimony" value="memberForm.controls.testimony" placeholder="Tell us anything you like"></textarea>

        <div class="columns">
          <div class="column is-two-fifth"></div>
          <div class="column is-one-fifth">
            <button type="button" id="backButton" (click)="currentStep = currentStep - 1">Back</button>
            <button type="button" id="nextButton" (click)="submitMemberForm()">Done</button>
          </div>
          <div class="column is-two-fifth"></div>
        </div>
      </div>

      <div [class.hidden]="!(currentStep === 7)">
        <h1 class="title">Thanks for becoming a member!</h1>
        <p *ngIf="mailAddressSelected">Please check your email to verify your information.</p>
        <br>
        <h3>Membership plays an important role at The 519.
          By making a donation you can further your support for the communities that we serve.</h3>
        <br><br>
        <div class="columns">
          <div class="column is-two-fifth"></div>
          <div class="column is-one-fifth">
            <button type="button" id="donateButton">Donate Now!</button>
          </div>
          <div class="column is-two-fifth"></div>
        </div>
      </div>

      <!-- <confirmation [member]="member"></confirmation> -->
    </form>
  </div>
  <div class="column is-one-quarter"></div>
</div>
