<div class="container">
  <div class="columns">
    <div class="column is-one-quarter"></div>
    <div class="column is-one-half">
      <h1>Welcome! What would you like to do today</h1>
      <button [ngClass]="{'button is-success is-active': oneSelected}" (click)="toggleSelectionOne()">Become A Member</button>
      <button [ngClass]="{'button is-success is-active': twoSelected}" (click)="toggleSelectionTwo()">Renew My Membership</button>
      <button [ngClass]="{'button is-success is-active': threeSelected}" (click)="toggleSelectionThree()">Update my contact information</button>
      <div class="columns">
        <div class="column is-two-fifth">

        </div>
        <div class="column is-one-fifth">
          <button id="next" (click)="routeToTask()">Next></button>
          
        </div>
        <div class="column is-two-fifth">

        </div>
      </div>
    </div>
    <div class="column is-one-quarter"></div>
  </div>
</div>
