:host {
  background: #eaeaea;
  color: #252525;
  position: fixed;
  left: 0;
  top: 52px;
  right: auto;
  bottom: 0;
  width: 20%;
  min-width: 250px;
  z-index: 9999;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}